

  

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-8">

            <% Blog.all.each do |blog| %>
              
                <article class="post">
                    <div class="post-thumb">
                        <a href="/blogs/<%= blog.id %>"><img src="<%= image_path blog.image.url %>" alt=""></a>

                        <a href="/blogs/<%= blog.id %>" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">Veja o Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <h2 class="text-center"><%= blog.title %></h2>
                        <header class="entry-header text-center text-uppercase">
                        <%= blog.details&.html_safe %>
                        </header>
                        <div class="entry-content">
                            <!-- <p class="texto"><%#= @blog.details.html_safe %></p> -->

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="/blogs/<%= blog.id %>" class="more-link">Continue Lendo...</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize"><%= blog.por %></span>
                        </div>
                    </div>
                </article>
            <% end %>

                
                <!-- <article class="post">
                    <div class="post-thumb">
                        <a href="Post Ebook.html"><img src="/assets/capa-e-book.jpg" alt=""></a>

                        <a href="Post Ebook.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">Veja o Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">

                          <div class="text-center">
                            <a href="#modal_portfolio" class="btn btn-primary" role="button" data-toggle="modal" data-heading="Nosso super Ebook!">
                              Baixe gratuitamente seu ebook agora!
                            </a>
                          </div>

                        </header>
                        <div class="entry-content">
                            <p class="texto">Na contramão de índices de desemprego em crescimento, startups seguem com vagas abertas para profissionais  das áreas de design, marketing, programação e vendas. Esse mercado é formado por empresas como Nubank, Rock Content e Dafiti, e aposta em profissionais criativos e com perfil inovador. Uma pesquisa inédita, realizada entre janeiro e março, pela Gama Academy instituição criada para capacitação e desenvolvimento de pessoas para o setor de startups e empresas digitais, mostrava que, só em São Paulo, havia 700 vagas, com salários entre 1650 e 20.000 reais, nas 200 empresas do gênero. Só no último mês, a Gama mapeou  110 vagas em 29 startups da capital mineira. Segundo  a consultoria americana Startup Genome, o Brasil tem mais de 1500 empresas do gênero e o setor movimentou em torno de 10 bilhões de reais só em São Paulo.
                            </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="Post Ebook.html" class="more-link">Continue Lendo...</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">Por Nayara em 16 de julho, 2017</span>
                        </div>
                    </div>
                </article> -->

                

                <!-- <ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul> -->
            </div>

            <div class="col-md-4" data-sticky_column="">
                <div class="primary-sidebar">
                    <aside class="widget about-me-widget">
                        <div class="about-me-img">

                            <div class="about-me-content text-center">
                                <img src="/assets/logoPerfil.png" alt="" class="img-me">

                                <h3 class="text-uppercase">Transforme a Carreira</h3>

                                <p>TEXTINHO SOBRE NÓS</p>
                            </div>
                        </div>
                        <div class="social-share">
                            <ul class="text-center text-center">
                                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="widget news-letter">
                        <h3 class="widget-title text-uppercase text-center">Assine Nossa Newsletter Gratuita</h3>




                        
                      <%= form_for :contact_us, url: '/contact', html: {class: 'contact__container__form'} do |f| %>
                        <%= f.text_field :name, class: 'form-control', placeholder: "Qual seu nome?" %>
                        <br/>
                        <%= f.email_field :email, class: 'form-control', placeholder: "Qual seu email?" %>
                        <input value="Assine Agora" class="text-uppercase text-center btn btn-subscribe" type="submit">
                      <% end %>

                    </aside>
                    <!-- <aside class="widget">
                        <h3 class="widget-title text-uppercase text-center">Posts em Destaque</h3>

                        <div class="popular-post">


                            <a href="#" class="popular-img"><img src="/assets/capa-e-book.jpg" alt="">

                                <div class="p-overlay"></div>
                            </a>

                            <div class="p-content">
                                <a href="#" class="text-uppercase">E-book Guia</a>
                                <span class="p-date">17 de Julho, 2017</span>

                            </div>
                        </div>

                    </aside> -->

                </div>
            </div><div id="" class="col-md-4 jquery-stickit-spacer" style="display: none; visibility: hidden;"></div>
        </div>
    </div>

    <div class="modal fade" id="modal_portfolio" tabindex="-1" role="dialog" aria-labelledby="modal_portfolio__heading">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="modal_portfolio__heading"></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">

                <div class="contact__container">
                  <div class="row">
                    <div class="col-sm-8">




                      <!-- Form -->
                      <%= form_for :contact_us, url: '/contact', html: {class: 'contact__container__form'} do |f| %>

                        <!-- Name -->
                        <div class="form-group">
                          <label for="name" class="sr-only">Name *</label>
                          <%= f.text_field :name, class: 'form-control', placeholder: "Insira seu Nome" %>
                          <span class="help-block"></span>
                        </div>

                        <!-- Email -->
                        <div class="form-grou-nl">
                          <label for="email" class="sr-only">Email address *</label>
                          <%= f.email_field :email, class: 'form-control', placeholder: "Insira seu Email" %>
                          <span class="help-block"></span>
                        </div>

                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary">
                          Baixe seu Ebook!
                        </button>

                      <% end %>

                    </div>
                  </div> <!-- / .row -->
                </div>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
      </div>
    </div>
</div>
<!-- end main content-->
<!--footer start-->


