<div class="main-content">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-8">
                <article class="post">
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h1 class="entry-title">Descubra que tipo de programador você é no mundo de Game of Thrones!</h1>
                        </header>
                        
                        <div class="post-thumb">
                              <img src="/assets/got programador.png" alt="">
                        </div>
                        
                        <br/>
    
                        <div class="texto">
                            <p class="centro">Veja o seu <span>Resultado</span></p>
                        </div>
                        

                            <!-- Form -->
                            <br/>
                            <br/>
                            <% if @result == 'ban' || @result == 'all' %>
                            <div>
                                Você é <span>Ban Stark!</span>
                                <br/>
                                <div>
                                    <img src="/assets/ban.gif" alt="">
                                </div>
                                <br/>
                                 Aparentemente quieto e paralisado, esse programador  tem poderes extraordinários. É capaz de entrar em transe com a programação e descobrir códigos que serão importantes para o futuro. 
                                <br/>
                                Gostou? Agora, compartilhe com seus amigos que também pretendem trabalhar nessemercado para fazer o teste.
                            </div>
                            <% end %>
                            
                            <% if @result == 'jhon' || @result == 'all' %>
                            <div>                           
                                Você é <span>John Snow!</span> 
                                <br/>
                                <div>
                                    <img src="/assets/jhon.gif" alt="">
                                </div>
                                <br/>
                                    É o programador que luta até o fim para a sobrevivência do projeto. É capaz de sobreviver a vários obstáculos que acontecem na programação, além de ressuscitar das cinzas códigos importantes.
                                <br/>
                                Gostou? Agora, compartilhe com seus amigos que também pretendem trabalhar nessemercado para fazer o teste.
                            </div>
                            <% end %>
                            
                            <% if @result == 'tyrion' || @result == 'all' %>
                            <div>
                                Você é <span>Tyrion Lanister!</span>
                                <br/>
                                <div>
                                    <img src="/assets/tyrion.gif" alt="">
                                </div>
                                <br/>
                                    É um programador inteligente e astuto, que consegue programar e se relacionar dentro da empresa. Não se sabe qual lado está pois consegue articular com todas as áreas e departamentos sem ser morto.
                                <br/>
                                Gostou? Agora, compartilhe com seus amigos que também pretendem trabalhar nessemercado para fazer o teste.
                            </div>
                            <% end %>
                            
                            <% if @result == 'khaleesi' || @result == 'all' %>
                            <div>
                                Você é <span>Khaleesi Daenerys!</span>
                                <br/>
                                <div>
                                    <img src="/assets/damarys.gif" alt="">
                                </div>
                                <br/>
                                    É um programador que se acha o dono do trono de ferro! Vai descobrir que tem um grande talento e será capaz de movimentar um exercito de programadores para ajudar a finalizar o projeto. Porem é preciso ter cuidado com o que aspira para não queimar sua carreira.
                                <br/>
                                Gostou? Agora, compartilhe com seus amigos que também pretendem trabalhar nessemercado para fazer o teste.
                            </div>
                            <% end %>
                        
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">Por Nayara em 16 de julho, 2017</span>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4" data-sticky_column="">
                <div class="primary-sidebar">
                    <aside class="widget about-me-widget">
                        <div class="about-me-img">

                            <div class="about-me-content text-center">
                                <img src="/assets/logoPerfil.png" alt="" class="img-me">

                                <h3 class="text-uppercase">Transforme a Carreira</h3>

                                <p></p>
                            </div>
                        </div>
                        <div class="social-share">
                            <ul class="text-center text-center">
                                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="widget news-letter">
                        <h3 class="widget-title text-uppercase text-center">Assine Nossa Newsletter Gratuita</h3>

                        <%= form_for :contact_us, url: '/contact', html: {class: 'contact__container__form'} do |f| %>
                            <%= f.text_field :name, class: 'form-control', placeholder: "Qual seu nome?" %>
                            <br/>
                            <%= f.email_field :email, class: 'form-control', placeholder: "Qual seu email?" %>
                            <input value="Assine Agora" class="text-uppercase text-center btn btn-subscribe" type="submit">
                        <% end %>

                    </aside>
                    <aside class="widget">
                        <h3 class="widget-title text-uppercase text-center">Posts em Destaque</h3>
                        <div class="popular-post">


                            <a href="Post Ebook.html" class="popular-img"><img src="/assets/capa-e-book.jpg" alt="">

                                <div class="p-overlay"></div>
                            </a>

                            <div class="p-content">
                                <a href="Post Ebook.html" class="text-uppercase">E-book Guia</a>
                                <span class="p-date">17 de Julho, 2017</span>

                            </div>
                        </div>
                        <div class="popular-post">


                            <a href="Quiz Mercado.html" class="popular-img"><img src="/assets/Quiz Mercado.png" alt="">

                                <div class="p-overlay"></div>
                            </a>

                            <div class="p-content">
                                <a href="Quiz Mercado.html" class="text-uppercase">Quiz Mercado</a>
                                <span class="p-date">18 de Julho, 2017</span>

                            </div>
                        </div>
                        
                        <div class="popular-post">


                            <a href="Tipo Programador.html" class="popular-img"><img src="/assets/got programador.png" alt="">

                                <div class="p-overlay"></div>
                            </a>

                            <div class="p-content">
                                <a href="Tipo Programador.html" class="text-uppercase">Quiz Programador | GOT</a>
                                <span class="p-date">18 de Julho, 2017</span>

                            </div>
                        </div>
                    </aside>

                </div>
            </div><div id="" class="col-md-4 jquery-stickit-spacer" style="display: none; visibility: hidden;"></div>
        </div>
    </div>

    <div class="modal fade" id="modal_portfolio" tabindex="-1" role="dialog" aria-labelledby="modal_portfolio__heading">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="modal_portfolio__heading"></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">

                <div class="contact__container">
                  <div class="row">
                    <div class="col-sm-8">

                      <%= form_for :contact_us, url: '/contact', html: {class: 'contact__container__form'} do |f| %>

                        <!-- Name -->
                        <div class="form-group">
                          <label for="name" class="sr-only">Name *</label>
                            <%= f.text_field :name, class: 'form-control', placeholder: "Qual seu nome?" %>
                          <span class="help-block"></span>
                        </div>

                        <!-- Email -->
                        <div class="form-grou-nl">
                          <label for="email" class="sr-only">Email address *</label>
                            <%= f.email_field :email, class: 'form-control', placeholder: "Qual seu email?" %>
                          <span class="help-block"></span>
                        </div>

                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary">
                          Baixe seu Ebook!
                        </button>

                        <% end %>

                    </div>
                  </div> <!-- / .row -->
                </div>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>
      </div>
    </div>


</div>
